html, body{
margin:0;
overflow:hidden;
width:100%;
height:100%;
background:#000;
}
#wallStage{
position:fixed;
left:50%;
top:50%;
overflow:hidden;
background:#000;
transform-origin:50% 50%;
}
html.wall-rot-0 #wallStage,
html.wall-rot-180 #wallStage{
width:100vw;
height:100vh;
height:100dvh;
}
html.wall-rot-90 #wallStage,
html.wall-rot-270 #wallStage{
width:100vh;
width:100dvh;
height:100vw;
}
#wallRotateBar,#wallRotate{display:none!important}
html.wall-rot-0 #wallStage{transform:translate(-50%,-50%) rotate(0deg)}
html.wall-rot-90 #wallStage{transform:translate(-50%,-50%) rotate(90deg)}
html.wall-rot-180 #wallStage{transform:translate(-50%,-50%) rotate(180deg)}
html.wall-rot-270 #wallStage{transform:translate(-50%,-50%) rotate(270deg)}
